.collection-entry, .menu-item	 {
	font-size: 1.5em;
}

.collection-entry i {
	padding-left: 10px;
}

.collection-entry .fa-cog {
  float: right;
}

.error-message {
	color: red;
}

thead {
	font-weight: bold;
}

.download-button {
	margin-left: 25px;
}
