.collection-entry, .menu-item	 {
	font-size: 1.5em;
}

.collection-entry i {
	padding-left: 10px;
}

.collection-entry .fa-cog {
  float: right;
}

.error-message {
	color: red;
}

thead {
	font-weight: bold;
}

.download-button {
	margin-left: 25px;
}

input {
    border-style: solid !important;
    padding: 7px;
    border: 1px solid #CCC;
}

select {
  margin: 13px 0 !important;
  height: 35px !important;
}

input, select{
  border-radius: 4px;
  padding: 7px;
}

.glyphicon {
  top: 3px !important;
}
